/* Write your CSS here */
.button {
  border-style: none;
  color: #7b8794;
  background-color: transparent;
  margin-right: 10px;
}
li {
  list-style-type: none;
}
.highlight {
  color: #2563eb;
  text-decoration: underline;
}
